/*-- scss:rules --*/

.reveal-header .sc-title {
    font-size: 2em !important;
    text-align: center !important;
}

.reveal .footer {
    font-size: 0.5em !important;
    text-align: center !important;
    font-family: 'SUITE', sans-serif !important;
    color: #f0f0f0 !important;
    font-weight: 700 !important;
  }