/*-- scss:rules --*/

.reveal .reveal-header .sc-title{
    /* --header-font-color: #f80a0a !important; */
    --header-font-size: max(10px, 2.5vw) !important; 
}

.reveal .footer {
    font-size: 20px !important;
    text-align: center !important;
    font-family: 'SUITE', sans-serif !important;
    color: #808080 !important;
    font-weight: 600 !important;
  }

figcaption {
    margin: auto;
    text-align: center;
  }
  
.reveal .slides section h2{
      margin-bottom: 100px;  /* 원하는 거리로 조절 */
  }