/*-- scss:rules --*/

:root {
  --my-brightness: 1;
}

.reveal-header .sc-title p,
.reveal-header .sb-title p {
  font-size: max(15px, 1.45vw);
  /* font-size: max(10px, 1.45vw); */
  filter: brightness(var(--my-brightness));
}

.reveal .footer {
    font-size: 20px !important;
    text-align: center !important;
    font-family: 'SUITE', sans-serif !important;
    color: #808080 !important;
    font-weight: 600 !important;
  }

figcaption {
    margin: auto;
    text-align: center;
  }
  
.reveal .slides section h2{
      margin-bottom: 50px;  /* 원하는 거리로 조절 */
  }

.reveal .slide-logo {
    height: 80px;
    width: 270px;
    max-width: unset;
    max-height: unset;
  }





