/*-- scss:defaults --*/
// Base document colors
$body-bg: #303030;
$body-color: white;
$link-color: #75AADB;

// Code blocks
$code-block-bg: #000000;
// $code-block-border-color: #0288fd;
$code-block-bg-alpha: -.8;

/*-- scss:rules --*/
