/*-- scss:rules --*/

// 탑 섹션 표기 글자 크기 조정 
.reveal .reveal-header .sc-title p,
.reveal .reveal-header .sb-title p {
  margin-left: 1vw;
  font-size: max(11px, 1.1vw);
  filter: brightness(0.85);
}

// 푸터 폰트 크기 조정
.reveal .footer {
  font-size: 1.1vw !important;
  text-align: center;
  font-family: 'SUITE', sans-serif;
  color: #808080;
  font-weight: 600 !important;
}

// 그림 캡션 위치 조정 
figcaption {
  margin: auto;
  text-align: center;
}

// 슬라이드 타이틀에서 본문까지 거리 
.reveal .slides section h2{
    margin-top: 0px; // 위에서 슬라이드 타이틀 간격 조정
    margin-bottom: 3vw; // 타이틀에서 본문까지 길이 조정 
}


// 슬라이드 하단 로고 크기 조정 
.reveal .slide-logo {
  height: 3.5vw !important; 
  width: 10vw !important;
  max-height: unset !important;
  max-width:  unset !important;
}

// 타이틀 넘버 제외하기 

// 타이틀에서 페이지 넘버 표시 제외 
.reveal .slide-number > a[href*='title-slide'] {
  display: none;
}

// Q&A 페이지에서 페이지 넘버 표시 제외
.reveal .slide-number > a[href*='q-a'] {
  display: none;
}

// EOD 페이지에서 페이지 넘버 표시 제외
.reveal .slide-number > a[href*='end-of-document'] {
  display: none;
}

// Footer 안보이게 하기 - NOT WORKING 

/* 헤드에 섹션 뒤에 점 찍기 */
//.header-section-number:after {
//  content: ".";
//}

/* Deprecated */
.v-center {         
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

// 로고 없앨 때 필요 
// 슬라이드의 색깔을 배경색으로 지정한다.
// `background-color="#303030"`

.reveal .slide-logo {
  z-index: -999 !important;
}        


// TOC에서 bullet point 없애기 - NOT WORKING 

/*
.reveal .footer {
  display: none !important;
} 
*/
